<div>
  <nav>
  <ul style="list-style-type: none;">
    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <h3 style="color: white">
          <span class="glyphicon glyphicon-home"></span>
          {{open? ' Home' : null }}
        </h3>
      </a>
    </li>
    <li class="sidebar-brand">
      <a routerLink="/users" class="nav-link">
        <h3 style="color: white">
        <span class="glyphicon glyphicon-user"></span>
        {{open? ' User' : null }}
        </h3>
      </a>
    </li>

    <li class="sidebar-brand">
      <a routerLink="/services" class="nav-link">
        <h3 style="color: white">
        <span class="glyphicon glyphicon-equalizer">
        </span>{{open? ' Services' : null }}
        </h3>
      </a>
    </li>
  </ul>
  </nav>
</div>

