<!--The content below is only a placeholder and can be replaced.-->

<div id="mySidenav" class="sidenav" [style.width]="navbarOpen? '250px': '120px'"
     appToggleViewMore
     (mouseover)="!navbarOpen? toggleNavBar(): null"
      (mouseleave)="navbarOpen? toggleNavBar(): null">
  <div >
    <app-nav-bar [isOpen]="navbarOpen"></app-nav-bar>
  </div>
</div>

<div id="main" [style.margin-left]="navbarOpen? '250px': '120px'">
  <router-outlet></router-outlet>

</div>



