<div class="row">
  <div class="col-lg-4">
    <div #chartPie ></div>
  </div>
  <div class="col-lg-4">
    <canvas #chartJSPie ></canvas>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <label for="nameGasto" class="form-check-label">Nombre gasto</label>
      <input type="text" id="nameGasto" class="form-control">
      <label for="amountGasto" class="form-check-label">Monto</label>
      <input type="text" id="amountGasto" class="form-control">
      <button class="btn btn-success" >Agregar</button>
    </div>
  </div>
</div>


